.page {
  background-image: url("../../assets/images/background-login.png");
}
.login-container {
  height: 500px;
  width: 467px;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: red;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    input {
      width: 350px;
      padding: 15px;
      margin-top: 20px;
      border-radius: 20px;
    }
    button {
      width: 100%;
      padding: 15px;
      margin-top: 20px;
      border-radius: 20px;
      background-color: rgb(37, 36, 36);
      color: white;
    }
  }
}