.menu-item {
  width: 217px;
  height: 51px;
  overflow: hidden;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  a {
    color: white;
    text-decoration-line: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    img {
      height: 32px;
      margin-right: 10px;
      margin-left: 10px;
    }
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
