.small-notify {
  width: 38%;
  height: 337px;
  background-color: white;
  border-radius: 10px;
  table {
    width: 90%;
    border-collapse: collapse;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px red; /* this draws the table border  */ 
  }
  td {
    border-top: 1px solid red;
    padding: 10px;
    margin: 0px;
    p {
      border-radius: 10px;
      background-color: #CDCCCA;
      text-align: center;
      padding: 1px;
    }
  }
}