.page {
  width: 1200px;
  height: 768px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  @media only screen and (max-width: 440px) {
    width: 440px;
  }
}

.main-content {
  width: 95%;
  height: 768px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 440px) {
    display: block;
  }
  justify-content: center;
  overflow: scroll;
  .upper-div {
    width: 95%;
    height: 337px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media only screen and (max-width: 440px) {
      flex-direction: column;
      height: 700px;
    }
  }
  .lower-div {
    width: 95%;
    height: 337px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 10px;
  }
}
