.navigator {
  width: 245px;
  height: 768px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media only screen and (max-width: 440px) {
    width: 0px;
    z-index: 1000;
  }
}

.menu-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  background-color: #4b4b4b;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  border: 0px;
  visibility: hidden;
  @media only screen and (max-width: 440px) {
    visibility: visible;
  }
}
